.navigation_container{
    /*border: 1px solid blue;*/
    display: flex;
    width: 100;
    justify-content: space-around;
    align-items: center;
}

.navigation_links{
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    width: 40%;
    margin: 60px auto;
}

.link{
    color: white;
    font-size: 19px;
}

.logo{
    width: 30%;
    /*border: 1px solid green;*/
}

.login_btn{
    /*border: 1px solid blue;*/
    font-size: 13px;
}